.react-select__control {
    min-height: 65px !important;
    border-radius: 8px !important;
}
.country-label {
    color: black;
    font-size: 0.85rem;
    margin-bottom: 0;
    padding-left: 0.2rem;
}
