@font-face {
  font-family: "open sauce one";
  src: url(./assets/fonts/OpenSauceOne-Light.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "open sauce one";
  src: url(./assets/fonts/OpenSauceOne-LightItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "open sauce one";
  src: url(./assets/fonts/OpenSauceOne-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open sauce one";
  src: url(./assets/fonts/OpenSauceOne-SemiBold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "open sauce one";
  src: url(./assets/fonts/OpenSauceOne-SemiBoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: "open sauce one";
  font-style: normal;
}

.page-title {
  font-size: 36px;
}

.search-holder {
  position: relative;
  i {
    position: absolute;
    top: 13px;
    left: 12px;
  }
}
.formControl:focus {
  outline: none;
}
.editBtn {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
  top: 0;
  right: -8px;
}
.userImg {
  width: 80px;
  height: 80px;
}
.heightSelect {
  height:54px;
}
.copyBtn {
  top: 50%;
  right: 16px;
  transform: translate(0,-50%);
}